* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Alegreya", serif;
  color: white;
  font-weight: 300;
  background: #d89a27;
  width: 100%;
  height: 100%;
}

.container {
  margin: 5% auto;
  padding: 10px 0;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
  padding-bottom: 7px;
}

.container p {
  padding-top: 5px;
  padding-bottom: 15px;
}

input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Alegreya", serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.Submit {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #50a3a2;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}
header {
  background-color: #d89a27;
  margin: auto 1px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #fff;
  font-family: "Alegreya", serif;
  font-weight: 600;
  margin: 0;
}

.header-link {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 550;
  text-decoration: none;
  margin-right: 15px;
}

.header-link:hover {
  color: #004466;
  text-decoration: none;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style: none;
}
